name: Java CI

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches:
      - '**'

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        distribution: zulu
        java-version: '17'
    
    - uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    
    - name: Make Gradle Wrapper Executable
      run: chmod +x gradlew
    
    - name: Test with Gradle
      run: ./gradlew clean test
    
    - name: Publish Test Results
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: JUnit Tests
        path: '**/build/test-results/test/*.xml'
        reporter: java-junit
    
    - name: Run Checkstyle
      run: ./gradlew checkstyleMain checkstyleTest
    
    - name: Publish Checkstyle Results
      uses: jwgmeligmeyling/checkstyle-github-action@master
      if: always()
      with:
        path: '**/build/reports/checkstyle/*.xml'
    
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      if: github.ref == 'refs/heads/main' || github.event_name == 'pull_request'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    
    - name: Build JAR
      run: ./gradlew build
    
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: application-jar
        path: '**/build/libs/*.jar'
